.choose {
    background-image: url(./image/bg_choose-us.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 120px 0 120px ;

    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include breakpoint($tablet-bp) {
            flex-direction: column; 
        }    
    }
    
    &__column {
        width: 50%;
    
        @include breakpoint($mobile-bp) {
            width: 90%;
        }

        &:first-child {
            padding: 85px 15px 0 0;

            @include breakpoint($tablet-bp) {
                margin-bottom: 60px;
                padding: 0 15px;
            }

            @include breakpoint($mobile-bp) {
                margin-bottom: 30px;
                padding: 0 15px;
            }
        }

        &:last-child {
            padding-left: 80px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            @include breakpoint($tablet-bp) {
                padding: 0;    
            }
        }
    }

    &__img {
        display: block;
        img {
            width: 100%;
            max-width: 354px;
        }

        &_first {
            margin-bottom: 5px;
        }

        &_second {
            align-self: flex-end;
        }
    }

    &__title {
        color: $white;
        font-family: $aleo-reg;
        font-size: 36px;

        @include breakpoint($tablet-bp) {
            padding-bottom: 20px;
            font-size: 26px;
        }
    }

    &__text {
        padding-top: 60px;
        color: $white;
        font-family: $josefinsans-reg;
        font-size: 16px;
        line-height: 24px;

        p {
            margin-bottom: 40px;

            @include breakpoint($tablet-bp){
                margin-bottom: 30px;
            }
            @include breakpoint($mobile-bp) {
                margin-bottom: 20px;
            }
        }
    }

    &__btn {
        margin-bottom: 20px;
        padding: 20px 10px;
        width: 100%;
        max-width: 225px;
        border: none;
        text-align: center;
        cursor: pointer;
        background-image: url('/image/button-bg.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        padding: 24px;
        font-size: 16px;
        text-transform: uppercase;
        color: $white;
        text-decoration: none;
        transition: all .3s linear;
        font-family: $josefinsans-reg;
      
        &:hover {
            cursor: pointer;
            opacity: 0.8;
        }
    }
    
}