.spain-nature {
    background-image: url(./image/bg_spain-nature.jpg);
    height: 700px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: flex-end;
    font-family: $josefinsans-reg;

    &__row {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 40px;
    }

    &__holder {
        background-color: rgb(51, 51, 51, 0.5);
        padding: 37px 35px;
    }

    &__column {
        width: 50%;
        margin: 0 45px;
        display: flex;
        flex-direction: column;

      @include breakpoint($tablet-bp) {
        display: flex;
        flex-direction: column; 
        align-items: center;
        width: 80%;
        margin: 0 auto; 
        }

        @include breakpoint($mobile-bp) {
            width: 100%;
        }
    }

    &__title {
        color: $white;
        padding: 35px 0;
        text-transform: uppercase;
    }

    &__subtitle {
        color: $white;   
    }

    &__text{
        line-height: 35px;
        padding: 0 0 35px;
        color: $white;
    }
}