.footer {
    height: 255px;
    background-color: $grey-footer;
    margin: 0 auto;
    text-align: center;
    
    @include breakpoint($tablet-bp) {
        height: 200px;
    }

    @include breakpoint($mobile-bp){
        min-height: 150px;
    }

    &__logo {
        padding: 120px 0 20px;
        font-size: 24px;
        letter-spacing: 4px;
        text-transform: uppercase;

        @include breakpoint($tablet-bp) {
            padding: 80px 0 20px;
        }
    
        @include breakpoint($mobile-bp){
            padding: 60px 0 20px;
            font-size: 20px;
        }
    }

    &__link {
        text-decoration:none;
        color: $white;
        font-family: $josefinsans-bold;
    }

    &__description {
        margin-bottom: 30px;
        color: $white;
        font-family: $josefinsans-reg;
    }

    &__social {
        display: flex;
        justify-content: center;
        color: $white;
    }

    &__icon {
        margin: 0 15px;

        &:hover {
            cursor: pointer;
            color: $blue;
            transition: all .3s linear;
        }
    }
}