.header {
    background-color: $blue;
    position: absolute;
    top: calc(100vh - 80px);
    right: 0;
    left: 0;
    
    @include breakpoint ($tablet-bp) {
        top: calc(100vh - 65px);
    }

    @include breakpoint ($mobile-bp) {
        top: calc(100vh - 50px);
    }

    &.active {
        .header__nav {
            opacity: 1;
            visibility: visible;
            transform: translateX(0);
        }

        .burger-btn {
            span {
                opacity: 0;
                visibility: hidden;
            }

            &::before {
                transform: rotate(45deg);
                top: 40%;
            }

            &::after {
                transform: rotate(-45deg);
                bottom: 50%;
            }
        }
    }

    &__holder {
        height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        z-index: 10;

        @include breakpoint ($tablet-bp) {
            height: 70px;
        }
    
        @include breakpoint ($mobile-bp) {
            height: 50px;
        }
    }

    &__logo a {
        font-size: 24px;
        color: $white;
        letter-spacing: 4px;
        text-transform: uppercase;
        text-decoration: none;
        font-family: $josefinsans-bold;

        @include breakpoint ($tablet-bp){
            font-size: 21px;
            letter-spacing: 2px;
        }
    
        @include breakpoint ($mobile-bp) {
            font-size: 18px;
            letter-spacing: 2px;
        }
    }
    &__nav {
        display: flex; 
        align-items: center;

        @include breakpoint ($tablet-bp) {
        position: absolute;
        padding: 20px;
        font-family: $aleo-reg;
        bottom: 50px;
        right: 0;
        width: 100%;
        transform: translateX(-100%);
        transition: all .3s ease-in-out;
        opacity: 1;
        visibility: hidden;
    }      
    
   
    }

    &__list {
        display: flex;  
        
        @include breakpoint ($tablet-bp) {
            background-color: $blue;
            margin: 0;
            padding: 25px;
            flex-direction: column;
            align-items: center;
            text-align: center;
            width: 100%;
        }
   
    }

    &__item {

        @include breakpoint ($tablet-bp){
            margin: 0;
            width: 100%;
        }
    }

    &__link {
        padding: 20px 0;
        text-transform: uppercase;
        font-size: 14px;
        color: $white;
        transition: transform .2s linear, opacity .2s linear;
        margin: 0 30px;

        @include breakpoint ($tablet-bp){
            padding: 20px;
        }
    }
}

.burger-btn {
    width: 30px;
    height: 20px;
    position: absolute;
    bottom: 50%;
    right: 50px;
    transform: translateY(50%);
    background-color: transparent;
    outline: none;
    border: 0;
    transition: all .3s linear;
    visibility: hidden;
    opacity: 0;
    display: none;

    @include breakpoint ($tablet-bp){
        display: block;
        visibility: visible;
        opacity: 1;
    }

    &::before{
    content: '';
    background-color: $white;        
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    top: 0;
}

&::after {
    content: '';
    background-color: $white;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    bottom: 0;
}

span {
    content: '';
    background-color: $white;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    top: 9px;
}
}


