@font-face {
  font-family: "josefin bold";
  src: url("../fonts/josefins/josefinsans-bold-webfont.eot");
  src: url("../fonts/josefins/josefinsans-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/josefins/josefinsans-bold-webfont.woff2") format("woff2"), url("../fonts/jjosefins/josefinsans-bold-webfont.woff") format("woff"), url("../fonts/josefins/josefinsans-bold-webfont.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "josefin regular";
  src: url("../fonts/josefins/josefinsans-regular-webfont.eot");
  src: url("../fonts/josefins/josefinsans-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/josefins/josefinsans-regular-webfont.woff2") format("woff2"), url("../fonts/josefins/josefinsans-regular-webfont.woff") format("woff"), url("../fonts/josefins/josefinsans-regular-webfont.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "aleo regular";
  src: url("../fonts/aleo/aleo-regular-webfont-webfont.eot");
  src: url("../fonts/aleo/aleo-regular-webfont-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/aleo/aleo-regular-webfont-webfont.woff2") format("woff2"), url("../fonts/aleo/aleo-regular-webfont-webfont.woff") format("woff"), url("../fonts/aleo/aleo-regular-webfont-webfont.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "aleo light";
  src: url("../fonts/aleo/aleo-light-webfont-webfont.eot");
  src: url("../fonts/aleo/aleo-light-webfont-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/aleo/aleo-light-webfont-webfont.woff2") format("woff2"), url("../fonts/aleo/aleo-light-webfont-webfont.woff") format("woff"), url("../fonts/aleo/aleo-light-webfont-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?4kv13z");
  src: url("../fonts/icomoon.eot?4kv13z#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?4kv13z") format("truetype"), url("../fonts/icomoon.woff?4kv13z") format("woff"), url("../fonts/icomoon.svg?4kv13z#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-right2:before {
  content: "\ea3c";
}

.icon-arrow-left2:before {
  content: "\ea40";
}

.icon-facebook:before {
  content: "\ea90";
}

.icon-twitter:before {
  content: "\ea96";
}

.icon-youtube:before {
  content: "\ea9d";
}

.icon-linkedin:before {
  content: "\eaca";
}

.icon-pinterest:before {
  content: "\ead1";
}

.hero {
  background-image: url(/image/bg_header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: calc(100vh - 80px);
  display: flex;
  align-items: center;
  text-align: center;
  position: relative;
}
@media screen and (max-width: 990px) {
  .hero {
    height: calc(100vh - 70px);
    padding: 205px 0 0 0;
  }
}
@media screen and (max-width: 769px) {
  .hero {
    height: calc(100vh - 50px);
    padding: 120px 0 0 0;
  }
}
.hero__title {
  font-family: "josefin regular";
  font-size: 48px;
  letter-spacing: 10px;
  text-transform: uppercase;
  margin: 0 0 15px;
  color: #fff;
}
@media screen and (max-width: 990px) {
  .hero__title {
    font-size: 46px;
  }
}
@media screen and (max-width: 769px) {
  .hero__title {
    font-size: 38px;
  }
}
.hero__description {
  display: block;
  color: #fff;
  font-size: 22px;
  letter-spacing: 6px;
  font-family: "josefin regular";
  margin-bottom: 10px;
}
@media screen and (max-width: 990px) {
  .hero__description {
    font-size: 18px;
    letter-spacing: 4px;
  }
}
.hero__form {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  width: 100%;
  margin: 45px 0 120px;
}
@media screen and (max-width: 990px) {
  .hero__form {
    margin: 0 0 80px;
  }
}
@media screen and (max-width: 769px) {
  .hero__form {
    margin: 0 0 50px;
  }
}
.hero__input {
  border: 2px solid #fff;
  background-color: #fff;
  width: calc(100% - 145px);
  text-align: center;
  font-family: "josefin regular";
  font-size: 14px;
  letter-spacing: 2px;
  height: 60px;
}
@media screen and (max-width: 990px) {
  .hero__input {
    height: 50px;
  }
}
@media screen and (max-width: 769px) {
  .hero__input {
    height: 40px;
    font-size: 10px;
  }
}
.hero__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 60px;
  background-color: #5474fd;
  border: 2px solid #fff;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
  font-family: "aleo regular";
  font-size: 14px;
  letter-spacing: 0.1em;
  transition: all 0.3s linear;
}
@media screen and (max-width: 990px) {
  .hero__btn {
    width: 130px;
    height: 50px;
    border: 1px solid #fff;
  }
}
@media screen and (max-width: 769px) {
  .hero__btn {
    width: 100px;
    height: 40px;
    font-size: 10px;
  }
}
.hero__btn:hover {
  opacity: 0.8;
}
.hero__btn span {
  display: block;
  margin-right: 14px;
}
@media screen and (max-width: 990px) {
  .hero__btn span {
    margin-right: 10px;
  }
}
@media screen and (max-width: 769px) {
  .hero__btn span {
    margin-right: 8px;
  }
}
.hero__btn_icon {
  font-size: 24px;
  padding-left: 10px;
}
@media screen and (max-width: 990px) {
  .hero__btn_icon {
    font-size: 20px;
  }
}
.hero__scroll {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  transition: transform 0.3s ease;
}
.hero__scroll:hover {
  transform: translateX(-50%) translateY(5px);
}

.header {
  background-color: #5474fd;
  position: absolute;
  top: calc(100vh - 80px);
  right: 0;
  left: 0;
}
@media screen and (max-width: 990px) {
  .header {
    top: calc(100vh - 65px);
  }
}
@media screen and (max-width: 769px) {
  .header {
    top: calc(100vh - 50px);
  }
}
.header.active .header__nav {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}
.header.active .burger-btn span {
  opacity: 0;
  visibility: hidden;
}
.header.active .burger-btn::before {
  transform: rotate(45deg);
  top: 40%;
}
.header.active .burger-btn::after {
  transform: rotate(-45deg);
  bottom: 50%;
}
.header__holder {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 10;
}
@media screen and (max-width: 990px) {
  .header__holder {
    height: 70px;
  }
}
@media screen and (max-width: 769px) {
  .header__holder {
    height: 50px;
  }
}
.header__logo a {
  font-size: 24px;
  color: #fff;
  letter-spacing: 4px;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "josefin bold";
}
@media screen and (max-width: 990px) {
  .header__logo a {
    font-size: 21px;
    letter-spacing: 2px;
  }
}
@media screen and (max-width: 769px) {
  .header__logo a {
    font-size: 18px;
    letter-spacing: 2px;
  }
}
.header__nav {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 990px) {
  .header__nav {
    position: absolute;
    padding: 20px;
    font-family: "aleo regular";
    bottom: 50px;
    right: 0;
    width: 100%;
    transform: translateX(-100%);
    transition: all 0.3s ease-in-out;
    opacity: 1;
    visibility: hidden;
  }
}
.header__list {
  display: flex;
}
@media screen and (max-width: 990px) {
  .header__list {
    background-color: #5474fd;
    margin: 0;
    padding: 25px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
  }
}
@media screen and (max-width: 990px) {
  .header__item {
    margin: 0;
    width: 100%;
  }
}
.header__link {
  padding: 20px 0;
  text-transform: uppercase;
  font-size: 14px;
  color: #fff;
  transition: transform 0.2s linear, opacity 0.2s linear;
  margin: 0 30px;
}
@media screen and (max-width: 990px) {
  .header__link {
    padding: 20px;
  }
}

.burger-btn {
  width: 30px;
  height: 20px;
  position: absolute;
  bottom: 50%;
  right: 50px;
  transform: translateY(50%);
  background-color: transparent;
  outline: none;
  border: 0;
  transition: all 0.3s linear;
  visibility: hidden;
  opacity: 0;
  display: none;
}
@media screen and (max-width: 990px) {
  .burger-btn {
    display: block;
    visibility: visible;
    opacity: 1;
  }
}
.burger-btn::before {
  content: "";
  background-color: #fff;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  top: 0;
}
.burger-btn::after {
  content: "";
  background-color: #fff;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  bottom: 0;
}
.burger-btn span {
  content: "";
  background-color: #fff;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  top: 9px;
}

.footer {
  height: 255px;
  background-color: #232323;
  margin: 0 auto;
  text-align: center;
}
@media screen and (max-width: 990px) {
  .footer {
    height: 200px;
  }
}
@media screen and (max-width: 769px) {
  .footer {
    min-height: 150px;
  }
}
.footer__logo {
  padding: 120px 0 20px;
  font-size: 24px;
  letter-spacing: 4px;
  text-transform: uppercase;
}
@media screen and (max-width: 990px) {
  .footer__logo {
    padding: 80px 0 20px;
  }
}
@media screen and (max-width: 769px) {
  .footer__logo {
    padding: 60px 0 20px;
    font-size: 20px;
  }
}
.footer__link {
  text-decoration: none;
  color: #fff;
  font-family: "josefin bold";
}
.footer__description {
  margin-bottom: 30px;
  color: #fff;
  font-family: "josefin regular";
}
.footer__social {
  display: flex;
  justify-content: center;
  color: #fff;
}
.footer__icon {
  margin: 0 15px;
}
.footer__icon:hover {
  cursor: pointer;
  color: #5474fd;
  transition: all 0.3s linear;
}

.choose {
  background-image: url(/image/bg_choose-us.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 120px 0 120px;
}
.choose__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 990px) {
  .choose__row {
    flex-direction: column;
  }
}
.choose__column {
  width: 50%;
}
@media screen and (max-width: 769px) {
  .choose__column {
    width: 90%;
  }
}
.choose__column:first-child {
  padding: 85px 15px 0 0;
}
@media screen and (max-width: 990px) {
  .choose__column:first-child {
    margin-bottom: 60px;
    padding: 0 15px;
  }
}
@media screen and (max-width: 769px) {
  .choose__column:first-child {
    margin-bottom: 30px;
    padding: 0 15px;
  }
}
.choose__column:last-child {
  padding-left: 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@media screen and (max-width: 990px) {
  .choose__column:last-child {
    padding: 0;
  }
}
.choose__img {
  display: block;
}
.choose__img img {
  width: 100%;
  max-width: 354px;
}
.choose__img_first {
  margin-bottom: 5px;
}
.choose__img_second {
  align-self: flex-end;
}
.choose__title {
  color: #fff;
  font-family: "aleo regular";
  font-size: 36px;
}
@media screen and (max-width: 990px) {
  .choose__title {
    padding-bottom: 20px;
    font-size: 26px;
  }
}
.choose__text {
  padding-top: 60px;
  color: #fff;
  font-family: "josefin regular";
  font-size: 16px;
  line-height: 24px;
}
.choose__text p {
  margin-bottom: 40px;
}
@media screen and (max-width: 990px) {
  .choose__text p {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 769px) {
  .choose__text p {
    margin-bottom: 20px;
  }
}
.choose__btn {
  margin-bottom: 20px;
  padding: 20px 10px;
  width: 100%;
  max-width: 225px;
  border: none;
  text-align: center;
  cursor: pointer;
  background-image: url("/image/button-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 24px;
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  transition: all 0.3s linear;
  font-family: "josefin regular";
}
.choose__btn:hover {
  cursor: pointer;
  opacity: 0.8;
}

.action {
  background-color: #232323;
  padding: 100px 0 40px;
}
@media screen and (max-width: 990px) {
  .action {
    padding: 80px 0 40px;
  }
}
@media screen and (max-width: 769px) {
  .action {
    padding: 50px 0 20px;
  }
}
.action__row {
  display: flex;
  justify-content: space-between;
  position: relative;
}
@media screen and (max-width: 990px) {
  .action__row {
    display: flex;
    flex-direction: column;
  }
}
.action__column {
  display: flex;
  flex-direction: column;
  text-align: center;
}
@media screen and (max-width: 990px) {
  .action__column {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 769px) {
  .action__column {
    margin-bottom: 20px;
  }
}
.action__bg-line-first {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 15%;
}
@media screen and (max-width: 990px) {
  .action__bg-line-first {
    visibility: hidden;
  }
}
@media screen and (max-width: 769px) {
  .action__bg-line-first {
    visibility: hidden;
  }
}
.action__bg-line-second {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 15%;
}
@media screen and (max-width: 990px) {
  .action__bg-line-second {
    visibility: hidden;
  }
}
@media screen and (max-width: 769px) {
  .action__bg-line-second {
    visibility: hidden;
  }
}
.action__icon {
  display: block;
  text-align: center;
  color: #fff;
  font-size: 62px;
  margin-bottom: 25px;
}
@media screen and (max-width: 990px) {
  .action__icon {
    font-size: 45px;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 769px) {
  .action__icon {
    font-size: 35px;
    margin-bottom: 15px;
  }
}
.action__icon_search {
  color: #5474fd;
}
.action__icon_check {
  color: #ff6363;
}
.action__icon_like {
  color: #00a2ff;
}
.action__text {
  display: block;
  color: #fff;
  font-size: 36px;
  font-family: "aleo regular";
}
@media screen and (max-width: 990px) {
  .action__text {
    font-size: 24px;
  }
}
@media screen and (max-width: 769px) {
  .action__text {
    font-size: 20px;
  }
}

.spain-appartament {
  background-image: url("/image/bg_spain-appartaments.jpg");
  height: 700px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: flex-end;
}
.spain-appartament__row {
  display: flex;
  align-items: flex-end;
  margin-bottom: 40px;
}
.spain-appartament__holder {
  background-color: rgba(51, 51, 51, 0.5);
  padding: 37px 35px;
}
.spain-appartament__column {
  width: 50%;
  margin: 0 45px;
  display: flex;
  flex-direction: cover;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  font-family: "josefin regular";
}
@media screen and (max-width: 990px) {
  .spain-appartament__column {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 769px) {
  .spain-appartament__column {
    width: 100%;
  }
}
.spain-appartament__title {
  color: #fff;
  padding: 35px 0;
  text-transform: uppercase;
}
.spain-appartament__subtitle {
  color: #fff;
}
.spain-appartament__text {
  line-height: 35px;
  padding: 0 0 35px;
  color: #fff;
  font-family: "josefin regular";
}

.spain-nature {
  background-image: url("/image/bg_spain-nature.jpg");
  height: 700px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: flex-end;
  font-family: "josefin regular";
}
.spain-nature__row {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 40px;
}
.spain-nature__holder {
  background-color: rgba(51, 51, 51, 0.5);
  padding: 37px 35px;
}
.spain-nature__column {
  width: 50%;
  margin: 0 45px;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 990px) {
  .spain-nature__column {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 769px) {
  .spain-nature__column {
    width: 100%;
  }
}
.spain-nature__title {
  color: #fff;
  padding: 35px 0;
  text-transform: uppercase;
}
.spain-nature__subtitle {
  color: #fff;
}
.spain-nature__text {
  line-height: 35px;
  padding: 0 0 35px;
  color: #fff;
}

.reviews {
  background-image: url("/image/bg_reviews.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 120px 0;
}
@media screen and (max-width: 990px) {
  .reviews {
    padding: 80px 0;
  }
}
@media screen and (max-width: 769px) {
  .reviews {
    padding: 50px 0;
    min-height: 600px;
  }
}
.reviews__subtitle {
  text-align: center;
  color: #fff;
  font-size: 36px;
  text-transform: capitalize;
  margin-bottom: 50px;
  font-family: "aleo regular";
  font-weight: normal;
}
@media screen and (max-width: 990px) {
  .reviews__subtitle {
    font-size: 32px;
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 769px) {
  .reviews__subtitle {
    font-size: 28px;
    margin-bottom: 20px;
  }
}
.reviews__row {
  display: flex;
  justify-content: center;
  background-color: rgba(51, 51, 51, 0.5);
}
@media screen and (max-width: 990px) {
  .reviews__row {
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 769px) {
  .reviews__row {
    width: 100%;
  }
}
.reviews__column-image {
  background-image: url(/image/user-photo-sam-sumon.jpg);
  width: 40%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (max-width: 990px) {
  .reviews__column-image {
    width: 100%;
    min-height: 285px;
    max-width: 445px;
  }
}
.reviews__column-text-holder {
  width: 60%;
  font-family: "josefin regular";
}
@media screen and (max-width: 990px) {
  .reviews__column-text-holder {
    width: 100%;
    padding: 50px;
  }
}
@media screen and (max-width: 769px) {
  .reviews__column-text-holder {
    width: 100%;
    padding: 0px;
  }
}
.reviews__user-name {
  padding: 50px 35px 0;
  font-size: 20px;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 25px;
}
@media screen and (max-width: 990px) {
  .reviews__user-name {
    margin-bottom: 35px;
  }
}
@media screen and (max-width: 769px) {
  .reviews__user-name {
    font-size: 18px;
    margin-bottom: 20px;
  }
}
.reviews__text {
  line-height: 25px;
  color: #fff;
  padding: 0 35px 50px;
}
.reviews__text p {
  text-indent: 1.5em;
}
.reviews__quotest {
  color: #5474fd;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1110px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

a {
  display: block;
  text-decoration: none;
}

h1,
h2 {
  text-transform: uppercase;
}

.btn {
  width: 100%;
  max-width: 225px;
  border: none;
  text-align: center;
  cursor: pointer;
  background-image: url("../image/button-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 24px;
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  transition: all 0.3s linear;
  font-family: "josefin regular";
}
.btn:hover {
  cursor: pointer;
  opacity: 0.8;
}