$black: #000;
$white: #fff;
$grey: #bbb;
$blue: #5474fd;
$grey-footer: #232323;
$red: #ff6363;
$blue-like: #00a2ff;

$aleo-reg:'aleo regular';
$josefinsans-bold: 'josefin bold';
$josefinsans-reg: 'josefin regular';

$tablet-bp: 990px;
$mobile-bp: 769px;